@{
    ViewData["Title"] = "AllEmployees";
    var employees = (List<Employee>) ViewData["employees"];
    //    bool registered = (bool)ViewData["registered"];
    ViewBag.Active = "Kryefaqja";
}

@if (TempData["registered"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Sukses!</strong> Te dhenat u ruajten.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}



<table id="example" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>Emri</th>
            <th>Mbiemri</th>
            <th>Vendi</th>
            <th>Gjinia</th>
            <th>Nr. Telefonit</th>
            <th>Statusi</th>
            <th>Operacionet</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var emp in employees)
        {
            <tr>
                <td>@emp.FirstName</td>
                <td>@emp.LastName</td>
                <td>@emp.City</td>
                <td>@emp.Gender</td>
                <td>@emp.PhoneNumber</td>
                <td>@(emp.Status ? "Aktiv" : "I pushuar")</td>
                <td class="row pl-4">
                    <div class="icon mr-2">
                        @if (emp.Status == true)
                        {
                            <a asp-controller="Employee" asp-action="Pusho" asp-route-id="@emp.Id" class="btn btn-warning" alt="Kontrollo">
                                Ndrysho Statusin
                            </a>
                        }
                        else
                        {
                            <a asp-controller="Employee" asp-action="KtheNePune" asp-route-id="@emp.Id" class="btn btn-info" alt="Kontrollo">
                                Ndrysho Statusin
                            </a>
                        }

                    </div>

                    <div class="icon mr-2">
                        <a asp-controller="Employee" asp-action="Kontrollo" asp-route-id="@emp.Id" class="btn btn-primary" alt="Kontrollo">
                            <i class="fas fa-info-circle"></i>
                        </a>
                    </div>
                    <form method="post" asp-controller="Employee" asp-action="DeleteEmployee">
                        <input type="hidden" name="id" value="@emp.Id" />

                        <div class="icon">
                            <a href="#deleteModal" id="deleteModalBtn" class="btn btn-danger" alt="Fshij" data-toggle="modal" data-target="#deleteModal" data-empid="@emp.Id">
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>
                    </form>
                </td>
            </tr>
        }
</table>


<partial name="Partials/FshijModal" />

@section Scripts{
    <script>
        jQuery(document).on("click", "#deleteModalBtn", function () {
            var id = jQuery(this).data('empid');
            $(".modal-body #id").val(id);
            $(".modal-body #returnUrl").val(document.URL);
        });


        $(document).ready(function () {
            $('#example').DataTable();
        });


    </script>
}
