@model EMS.Models.Employee
@{
    ViewData["Title"] = "showEmployee";
    var employee = (Employee) ViewData["employee"];
    bool updated = (bool)ViewData["updated"];
    ViewBag.Active = "Kontrollo";
}

@if(updated){
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Sukses!</h4>
        <p>Te dhenat u ruajten me sukses</p>
        <hr>
        <p class="mb-0"><a asp-controller="Home" asp-action="Index">Kliko ketu</a> per tu kthyer ne kryefaqe</p>
    </div>
}

<form method="post" asp-controller="Employee" asp-action="Update">
    <input type="hidden" asp-for="Id" value="@employee.Id">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="FirstName">Emri</label>
            <input asp-for="FirstName" type="text" class="form-control" id="firstName" value="@employee.FirstName">
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="LastName">Mbiemri</label>
            <input asp-for="LastName" type="text" class="form-control" id="lastName" value="@employee.LastName">
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="PhoneNumber">Numri Telefonit</label>
            <input asp-for="PhoneNumber" type="number" class="form-control" id="phoneNumber" value="@employee.PhoneNumber">
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label for="inputGender">Gjinia</label>
            <select asp-for="Gender" id="gender" class="form-control" value="@employee.Gender">
                <option value="m">Mashkull</option>
                <option value="f">Femer</option>
            </select>
            <span asp-validation-for="Gender" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="City">Qyteti</label>
            <input asp-for="City" type="text" class="form-control" id="inputCity" value="@employee.City">
            <span asp-validation-for="City" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label for="inputState">Shteti</label>
            <select asp-for="State" id="state" class="form-control" value="@employee.State">
                <option value="ks">Kosove</option>
                <option value="al">Shqiperi</option>
                <option value="mne">Mali i Zi</option>
                <option value="mk">Maqedoni</option>
            </select>
            <span asp-validation-for="State" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label asp-for="Position">Pozita</label>
            <input asp-for="Position" type="text" class="form-control" id="position" value="@employee.Position">
            <span asp-validation-for="Position" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label for="inputSchedule">Orari</label>
            <select asp-for="Schedule" id="schedule" class="form-control" value="@employee.Schedule">
                <option value="firstShift">Paradite</option>
                <option value="secondShift">Masdite</option>
            </select>
            <span asp-validation-for="Schedule" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="PaymentPerHour">Pagesa per ore</label>
            <input asp-for="PaymentPerHour" type="number" class="form-control" id="paymentperHour" value="@employee.PaymentPerHour">
            <span asp-validation-for="PaymentPerHour" class="text-danger"></span>
        </div>
        @*<div class="form-group col-md-4">
            <label asp-for="Holiday">Cakto Pushimin</label>
            <select asp-for="Holday" id="holiday" class="form-control" value="@employee.Holiday">
                <option value="Monday">E Hane</option>
                <option value="Tuesday">E Marte</option>
                <option value="Wednesday">E Merkure</option>
                <option value="Thursday">E Ejte</option>
                <option value="Friday">E Premte</option>
                <option value="Saturday">E Shtune</option>
                <option value="Sunday">E diell</option>
            </select>
            <span asp-validation-for="Schedule" class="text-danger"></span>
        </div>*@
    </div>
    <button type="submit" class="btn btn-primary">Ruaj</button>
</form>