@model EMS.Models.Employee

@{
    ViewData["Title"] = "LoginEmployee";
    Layout = "_LayoutEmp.cshtml";
    ViewBag.Active = "Kryefaqja";
}




<div class="card text-white bg-dark mb-3">
    <div class="card-header">Profili Im</div>
    <div class="card-body">
        <h5 class="card-title">Te dhenat personale</h5>
        <ul class="list-group list-group-item-dark">
            <li class="list-group-item">Emri: @Model.FirstName</li>
            <li class="list-group-item">Mbiemri: @Model.LastName</li>
            <li class="list-group-item">Nr.Tel: @Model.PhoneNumber</li>
            <li class="list-group-item">Qyteti: @Model.City</li>
            <li class="list-group-item">Pagesa per ore: @Model.PaymentPerHour</li>
            <li class="list-group-item">Pozita: @Model.Position</li>
        </ul>
    </div>
</div>
