@model EMS.Models.Employee
@{
    ViewData["Title"] = "PagesatEperfunduar";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Active = "Kontrollo";

}

<h1>Pagesat e perfunduar</h1>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Data e pageses</th>
            <th scope="col">Data e kryerjes se pageses</th>
            <th scope="col">Pagesa Neto</th>
            <th scope="col">Pagesa Bruto</th>
            <th scope="col">Action</th>
    </thead>
    <tbody>
        @foreach(Payment p in Model.Payments)
        {
            <tr>
                <td>@p.startDate</td>
                <td>@p.endDate</td>
                <td>@p.paymentNeto</td>
                <td>@p.paymentBruto</td>
                <td><a class="btn btn-danger" asp-controller="Payment" asp-action="DeletePayment" asp-route-id="@p.Id">Delete</a></td>
            </tr>
        }
    </tbody>
</table>