
@{
    ViewData["Title"] = "Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Active = "Kontrollo";
    Payment lastPayment = (Payment)ViewData["LastPayment"];
    Employee employee = (Employee)ViewData["employee"];
    DateTime? maxDate = (DateTime?)ViewData["maxDate"];
}

@if (TempData["msg"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Msg!</strong> @TempData["msg"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<div class="container mt-2">
    <div class="row">
        <div class="col-md-6">
            <h1 class='text-info'>Pagese e re!</h1>
            <h2>Gjenero pagese te re!</h2>
            <hr>
            <p>Ne kete pjese menaxheri mund te krijon nje pagese te re per nje periudhe te caktuar kohore!</p>
            <button type="button" data-toggle="collapse" href="#caktoPagesen" aria-expanded="false" aria-controls="caktoPagesen" class="btn btn-info">Cakto Pagesen <i class="fas fa-arrow-down"></i></button>
            <div class="collapse mb-2" id="caktoPagesen">
                <div class="card card-body mt-2">
                    <form method="post" asp-controller="Payment" asp-action="Payment">
                        <p>Pagesa e fundit e marrur:</p>
                        @if (lastPayment != null)
                        {
                            <input class="form-control" type="date" readonly value="@lastPayment.endDate.ToString("yyyy-MM-dd")">
                        }
                        else
                        {
                            @try
                            {
                            <input class="form-control" type="date" readonly value="@employee.Attendance.First().StartTime.ToString("yyyy-MM-dd")">

                            }catch(Exception e)
                            {
                                <input class="from-controll" type="date" readonly/>
                            }
                        }
                        <hr />
                        <input type="hidden" name="id" id="test" value="@employee.Id" />
                        <p>Cakto periudhen per pagesen e rradhes:</p>
                        @if(maxDate != null)
                        {
                            <input class="form-control" type="date" name="time" id="endDate" max="@maxDate.Value.ToString("yyyy-MM-dd")" min="@employee.Attendance.First().StartTime.ToString("yyyy-MM-dd")"/>
                            <button type="submit" class="mt-2 btn-success form-control">Gjenero Faturen</button>
                            <br />
                        }
                        else
                        {
                            <p class="text-danger">Punëtori duhet ti ketë së paku 2 ditë të pa paguara!</p>
                        }
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h1 class='text-danger'>Pagesat e perfunduar!</h1>
            <h2>Informata mbi pagesat e perfunduar!</h2>
            <hr>
            <p>Ne kete sektor mund ti shikoni te gjitha pagesat e perfunduar mbrenda nje kohe te caktuar!</p>
            <a class="btn btn-danger" asp-controller="Payment" asp-action="PagesatEperfunduar" asp-route-id="1">Shiko Pagesat</a>
        </div>
    </div>
</div>