
@{
    ViewData["Title"] = "showEmployee";
    var employee = (Employee)ViewData["employee"];
}


<form method="post">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="firstName">Emri</label>
            <input type="text" class="form-control" id="firstName" name="firstName" value="@employee.FirstName">
        </div>
        <div class="form-group col-md-6">
            <label for="lastName">Mbiemri</label>
            <input type="text" class="form-control" id="lastName" name="lastName" value="@employee.LastName">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="phoneNumber">Numri Telefonit</label>
            <input type="tel" class="form-control" id="phoneNumber" name="phoneNumber" value="@employee.PhoneNumber">
        </div>
        <div class="form-group col-md-6">
            <label for="inputGender">Gjinia</label>
            <select id="gender" class="form-control" name="gender">
                 <!option value="m" @((employee.Gender=="m")?"selected": "")>Mashkull</!option>
                 <!option value="f" @((employee.Gender=="f")?"selected": "")>Femer</!option>
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputCity">Qyteti</label>
            <input type="text" class="form-control" id="inputCity" name="city" value="@employee.City">
        </div>
        <div class="form-group col-md-6">
            <label for="inputState">Shteti</label>
            <select id="inputState" class="form-control" name="state">
                
                <!option value="ks" @((employee.State=="ks")?"selected": "")>Kosove</!option>
                <!option value="al" @((employee.State=="al")?"selected": "")>Shqiperi</!option>
                <!option value="mne" @((employee.State=="mne")?"selected": "")>Mali i Zi</!option>
                <!option value="mk" @((employee.State=="mk")?"selected": "")>Maqedoni</!option>
            </select>
        </div>
        <div class="form-group col-md-6">
            <label for="firstName">Pozita</label>
            <input type="text" class="form-control" id="position" name="position" value="@employee.Position">
        </div>
        <div class="form-group col-md-6">
            <label for="inputSchedule">Orari</label>
            <select id="inputSchedule" class="form-control" name="schedule">
                <!option value="firstShift" @((employee.Schedule=="firstShift")?"selected": "")>Paradite</!option>
                <!option value="secondShift" @((employee.Schedule=="secondShift")?"selected": "")>Masdite</!option>
            </select>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Ruaj</button>
</form>